body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.resume-container {
    background: white;
    padding: 40px;
    width: 750px;
    max-width: 100%;
    border: 2px solid #000;
}

.top-line {
    border: none;
    border-top: 3px solid #000;
    margin-bottom: 25px;
}

h1 {
    margin: 0;
    font-size: 32px;
}

.subtitle {
    margin-top: 5px;
    color: #2e8b57;
    font-weight: normal;
}

.section-title {
    margin-top: 30px;
    font-size: 20px;
}

.green {
    color: #2E8B57;
}

.blue {
    color: #0a65c2;
}

.item-title {
    font-size: 18px;
    color: #0a65c2;
    margin-bottom: 3px;
}

.date {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: italic;
    color: #555;
}

ul { 
    margin-top: 5px;
}

.job {
    margin-bottom: 25px;
}

@media(max-width:600px) {
    body {
        padding: 10px;
    }
    .resume-container {
        padding: 20px;
    }
}